.content {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.content h1 {
    margin-bottom: 20px;
}

.content h2 {
    margin-top: 30px;
}

.content ul {
    margin-left: 20px;
    margin-top: 10px;
}

.content li {
    margin-bottom: 8px;
}
